<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password - NoteHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot.css') }}">
</head>

<body>

<div class="forgot-container">

    <h2>Forgot Password</h2>
    <p>Enter your email to reset password</p>

    <!-- FLASH MESSAGE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">

        <input type="email" name="email" placeholder="Enter your email" required>

        <button type="submit">Send Reset Link</button>

    </form>

    <a href="{{ url_for('login') }}" class="back">← Back to Login</a>

</div>

</body>
</html>