<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - NoteHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot.css') }}">
</head>

<body>

<div class="forgot-container">

    <h2>Reset Password</h2>
    <p>Enter your new password</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">

        <input type="password" name="password" placeholder="New Password" required>

        <input type="password" name="confirm_password" placeholder="Confirm Password" required>

        <button type="submit">Reset Password</button>

    </form>
    <div class="password-rules">
      <p>Password must contain:</p>
      <ul>
          <li id="length">At least 6 characters</li>
          <li id="case">Uppercase and lowercase letters</li>
          <li id="number">Numbers</li>
      </ul>
  </div>

    <a href="{{ url_for('login') }}" class="back">← Back to Login</a>

</div>
<script src="{{ url_for('static', filename='reset_password.js') }}"></script>
</body>
</html>